@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
  }
  body {
    width: 100%;
    font-weight: 400;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/font/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/font/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/font/Montserrat.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }



  ::-webkit-scrollbar {
    width: 6px;
    background: #01072B;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
}